.agent-work-agent-message.user-message {
  position: relative;

  .agent-work-agent-message-expand-icon {
    position: absolute;
    top: 8px;
    left: 0;
    transform: translate(-50%, 0);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    cursor: pointer;
  }

  .agent-work-agent-message-content {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 12px;
    border-radius: 8px;

    margin: 0;
    font-size: 1rem;
  }
}
